<!doctype html>
<html>
  <head>
    <title>BLT - Main Page</title>
  </head>
  <body>
    <h1>BLT Main Page</h1>
    <h3>About</h3>
    <p>This is a demonstration of how third-party web applications can integrate with the BLT (Blockchain for Lifecycle Transparency) system with the BLT client <a href="/static/js/blt-lib.js">JS library</a>.</p>
    <ul>
      <li><a href="/publisher">Publisher</a>: A simulated real-world publisher.</li>
      <li><a href="/logger">Logger</a>: A simulated online platform (e.g. Github, OSF) that logs the activities of a project. See the <a href="/static/js/logger.js">source files</a> for more details of how to use the BLT client APIs.</li>
    </ul>
    <p>The program component of the BLT system is implemented by Ethereum smart contracts (<a href="/static/contract/main-v2.4.sol">Source</a>).</p>
    
    <h3>Instructions</h3>
    <ol>
      <li>Install pip and flask (Python3)<br>$ pip install flask</li>
      <li>Start the server<br>$ bash ./run.sh [--host=0.0.0.0]</li>
      <li>To create a new project, visit <a href="/publisher">Publisher</a>. To log or view the activities of your or others' projects, visit <a href="/static/js/logger.js">Logger</a>.</li>
    </ol>

    <h3>Fun Facts</h3>
    <p>The BLT project also uses the BLT system (with an older version) to log its activities! The contract address of the BLT project is at <a href="https://ropsten.etherscan.io/address/0xbe01c49471327716fea9394da92f975b8176078c">0xbe01c49471327716FEA9394dA92F975b8176078C</a> on Ropsten Testnet.</p>
  </body>
</html>
